.form-gap {
    padding-top: 70px;
}

.input-group-addon {
    padding-right: 28px;
    padding-top: 11px;
}  
.btn-block {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px
}