<!--to get the width of the screen-->
<div (window:resize)="onResize($event)" > 
    <!-- styles added based on menu appearance and disappearance for responsiveness  -->
    
    <app-menu *ngIf = "isMenu" [menuItems] = "menuItems"></app-menu>
     <!-- <app-header-search class = "header-style" [userProfileItems] = "userProfileItems"></app-header-search> -->
     <div [ngClass] = "{'router-style': isMenu, 'router-style-md': !isMenu}">
        <app-header-search class = "header-style" [userProfileItems] = "userProfileItems"></app-header-search>
        <router-outlet></router-outlet>
     </div>
     <alert></alert>
 </div>
 
 
 