<div class="container-fluid" style="
padding-right: 0px;
padding-left: 0px;">
  <div class="row" style="width: 100%;margin-right: 0px;margin-left: 0px; width: 100%">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0px; width: 100%">
      <button class="openbtn" (click)="toogleNav()">&#9776;</button>
      <a class="navbar-brand" href="#"> Coklu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link disabled" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Component</a>
          </li>
          <!-- <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink='/aboutus' tabindex="-1" aria-disabled="true">About us</a>
          </li>
          <li class="nav-item">
            <form class="form-inline nav-item">
              <input class="form-control mr-sm-2" type="search" placeholder="universal search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </li>
        </ul>
        <span>Welcome User</span>
      </div>
    </nav>

  </div>
  <div class="mainContent">

    <div #mySidebar class="sidebar"
      [ngClass]="{'sidebarTrue': sidebarFlag === true, 'sidebarFalse': sidebarFlag === false}">
      <ul>
        <li></li>
      </ul>
      <div class="fas fa-cloud logos" style="font-size:30px;color:white;"><a href="#">About</a></div>     
      <div class="fas fa-heart logos" style="font-size:30px;color:white;"><a href="#">Services</a></div>
      <div class="fas fa-car logos" style="font-size:30px;color:white;"><a href="#">Clients</a></div>
      <div class="fas fa-file logos" style="font-size:30px;color:white;"><a href="#">Contact</a></div>
    </div>


    <div #main class="main" [ngClass]="{'mainTrue': sidebarFlag === false, 'mainFalse': sidebarFlag === true}">
      <!-- <app-breadcrumb></app-breadcrumb>  -->
      <div style="width: 100%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>